@media (max-width: 1039px) {
    .box{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .last{
        width: 100%;
       flex-direction: column;
       align-items: center;
    }
    footer{
         width: 100%;
       flex-direction: column;
       align-items: center;
    }
    .nav{
        display: none;
    }
    .container{
        width: 100%;
    }

        .container-1{
            width: 100%;
            
             margin: 0px;
             padding: 0px;
             
        }
        main{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            padding: 0;

        }
       .text-2{
        line-height: 40px;
       }
       .container-2{
        background-image: url(https:64.media.tumblr.com/8c1a4e5cf75b0409d641c76b920ab2c0/f463311480b42cd6-98/s540x810/b5ec8fb167cad762d85ba5482e8ba3d86659c05a.gifv);
       }
     
    
}