@media (max-width: 1039px) {
    .box {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .last {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 50px;
        
        
    }
    .last-img{
       margin-right: 0 ;
        width: 100%;

       
    }
    .box-1{
        padding: 50px;
    }
    body{
        width: 100%;
    }

    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
       padding-right: 0;
       

    }
    .rodape h2{
       text-align: center;    
    }
    .rodape p{
        text-align: center;
    }
    .rodape{
        padding: 40px;
    }
    .social{
        display: flex;
        justify-content: center;
        padding-right: 30px;
        
    }

    .nav {
        display: none;
        padding-bottom: 40px;
    }

    .container {
        width: 100%;
    }

    .container-1 {
        width: 100%;

        margin: 0px;
        padding: 0px;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0;
    }

    .text-1 {
        display: none;
    }

    .text-2 {
        line-height: 40px;
    }
    .container{
        width: 100%;
        margin-right: 0;
       
    }

     .container-2 {
        width: 100%;
        height: 100%;
        background-image: url(../assets/imagens/sakura-ss.jpg);         
    } 

    .icon-han i {
        color: #e796e5;
        padding: 30px;
        display: block;
        font-size: 40px;
    }

    header {

        justify-content: start;

    }

    .icon-han:hover {
        color: #fff;
        cursor: pointer;
    }

    .nav {
        display: none;
        padding-top: 90px;
        position: absolute;
        top: 83px;
        right: 0;
        background: rgb(238, 174, 202);
        background: linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 0.31974788206298144) 100%);
        border-radius: 20px;
        padding-left: 25px;
    }

    .nav-menu a {
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    .nav-menu {

        flex-direction: column;
        line-height: 60px;

    }

    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .btnload {
        margin-right: 60px;
    }

    .icon-han {
        display: block;
    }
    .final{
     margin-right: 0;
     padding: 40px;
     width: 100%;
    }
    .btn-ok{
       margin-left: 0;
    }

   


}