* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   width: 100%;
}

main {
   width: 100%;
   margin-top: 80px;
}

header {
   width: 100%;
   display: flex;
   height: 83px;
   justify-content: center;
   background-color: aliceblue;
   position: fixed;
   top: 0;
   left: 0;
}

.nav-bar {
   width: 72%;
   display: flex;
   justify-content: space-between;
}

.nav {
   display: flex;
   justify-content: right;
}

.nav-menu {
   display: flex;
   list-style: none;
   align-items: center;
   width: 80%;

}

.nav-menu li {
   padding: 0 20px;
}

.btn {
   width: 110px;
   height: 50px;
   margin-left: 20px;
   margin-top: 15px;
   font-size: 17px;
   color: #fff;
   background-color: #667eea;
   border-radius: 5px;
   border: #ccc;
   cursor: pointer;
}

.btn:hover {
   background-color: #764ba2;
}

.nav-menu a {
   text-decoration: none;
   color: #667eea;
}

.nav-menu a:hover {
   color: #e796e5;
}

.icon-1 i {
   width: 100px;
   padding: 25px;
   font-size: 40px;
   color: #e796e5;
   cursor: pointer;
}

.icon-1 i:hover {
   color: #667eea;
}

/* fim do header */

.container-content {
   width: 100%;
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
   display: flex;
   justify-content: center;
}

.container {
   width: 72%;
   height: 400px;
}

.container-2 {
   width: 100%;
   height: 100%;
   font-weight: bold;
   line-height: 20px;
    background-image: url(../assets/imagens/sakura.png);
   background-position: right center;
   background-size: cover;
}


.text-1 {
   padding: 20px;
   color: #fff;
   text-shadow:
      -1px -1px 0px #000,
      -1px 1px 0px #000,
      1px -1px 0px #000,
      1px 0px 0px #000;
   max-width: 500px;
}

.text-2 {
   padding: 20px;
}

.content {
   width: 100%;
   display: flex;
   justify-content: center;
}

.Content-1 {
   width: 72%;
   text-align: center;
   padding: 40px;
   line-height: 20px;
   color: #667eea;
}

.box {
   display: flex;
   width: 100%;
}

.box-1 {
   padding: 40px;
   text-align: center;
   line-height: 25px;
   color: #667eea;
}

.box-1 h2 {
   padding: 20px;
}

.icon-2 {
   width: 18%;
}

.last-img {
   width: 100%;
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
   background-position: right center;
   background-size: cover;
   display: flex;
   justify-content: center;
      

}

.last {
   display: flex;
   justify-content: center;
   padding: 50px;
   background-size: cover;
   display: flex;
   justify-content: center;
}


.final {
   width: 500px;
   padding: 40px;
   margin-right: 50px;
   color: #667eea;
   ;
}

.icon-3 {
   display: flex;
   padding: 20px;
}

h2 {
   margin-left: 20px;
}

i {
   font-size: 25px;
}

footer {
   display: flex;
   width: 100%;
   justify-content: center;
   border-top: 1px solid #e796e5;
}

.rodape {
   width: 500px;
   padding: 40px;
   color: #667eea;
}

.rodape h2 {
   padding-top: 20px;
   padding-bottom: 20px;
}

.rodape i {
   padding-left: 40px;
   color: #667eea;
   cursor: pointer;
}

.rodape i:hover {
   color: #e796e5;
}

form {
   margin-left: 40px;
   display: flex;
}

form input {
   border: 1px solid #667eea;
   margin-top: 18px;
   width: 200px;
}

.icon-han {
   display: none;
}